*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    background-color: beige;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

}
.div1{

    width: 20%;
    height: auto;
    background-color: rgb(243, 67, 99);
    display: flex;
    flex-direction: column;
}
.title-div{

height: 10%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;


}
.title-heading{
    display: flex;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;  
    gap: 20px;
   
}
.title-icon{
width: 20%;
display: flex;
justify-content: end;
    align-items: center;
    
}
.title-head{
width: 80%;
}

i{
    color: white;
    font-size: 25px;
}
.sidebar{

height: 60%;
display: flex;
flex-direction: column;

}
.s1{
   
    height: 100%;
    display: flex;
    justify-content: space-between;
    
    
    
}
.s11{
    
    width: 20%;
    display: flex;
    
   
    
}
.s11-1{
  
    width: 20%;
}
.s11-2{
 
 width: 80%;
 border-radius: 500px 0px 0px 500px;
 background-color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
}
.s12{

    width: 30%;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    color: rgb(243, 67, 99);
   
}
.s13{
    background-color: #fff;
    width: 50%;
}
.s2{

 height: 100%;
  display: flex;
     gap: 20px;
}
.s21{
   
       width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.s22{

  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fff;
}
.s3{

 height: 100%;
  display: flex;
    gap: 20px
}
.s31{
  
       width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.s32{

  width: 80%;
   display: flex;
  justify-content: start;
  align-items: center;
   color: #fff;
}
.s4{

 height: 100%;
  display: flex;
    gap: 20px

}
.s41{
    
       width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.s42{

 width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
   color: #fff;
}
.s5{

 height: 100%;
  display: flex;
    gap: 20px
}
.s51{
    
       width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.s52{
 
  width: 80%;
   display: flex;
  justify-content: start;
  align-items: center;
   color: #fff;
}
.s6{

 height: 100%;
  display: flex;
     gap: 20px
}
.s61{
 
       width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.s62{
 
  width: 80%;
   display: flex;
  justify-content: start;
  align-items: center;
   color: #fff;
}
.s7{

 height: 100%;
  display: flex;
    gap: 20px
}
.s71{
     
       width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.s72{

  width: 80%;
   display: flex;
  justify-content: start;
  align-items: center;
   color: #fff;
}

.empty{

height: 30%;
}
.div2{
    
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.navbar{
   
    height: 10%; 
    border-bottom: 3px solid rgb(217, 203, 203);
}

.navbar nav{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
}

.dashboard{
    
    width: 33.3%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.dashboard-icon i{
    color: black;
}
.search{
    
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.search-icon i{
 color: rgb(123, 114, 114);
 position: absolute;
 left: 10px;
 bottom: 12px;
 transform: rotate(90deg);
}
.search-content{
    width: 100%;
    display: flex;

}
.search-content input{
    width: 70%;
    border-radius: 20px;
   padding: 10px 30px 10px 40px; 
    border: 1px solid rgb(219, 209, 209);
    display: flex;
    text-align: center;

   
   
}
.image-div{

    width: 33.3%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}
.image{

height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.image img{
    height: 100%;
    width: 71%;
    border-radius: 50%;
    object-fit: cover;
}
.image-content{

height: 100%;
display: flex;
flex-direction: column;
}
.ic-head{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 20px;
height: 50%;
display: flex;
align-items: center;

}
.ic-sub{

height: 50%;
display: flex;
align-items: start;
color: rgb(123, 114, 114);
/* justify-content:center ; */
font-size: 14px;

}
.main-div{
  
  height: 90%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
}

.upper-div{

height: 25%;
display: flex;
gap: 20px;
/* padding: 10px; */

}
.u1{
   
    width: 25%;
    background-color: #fff;
    display: flex;
}
.u1-1{
    
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.u1-11{
     
     height: 50%;
     display: flex;
     justify-content:center ;
     align-items: end;
     font-size: 40px;
     font-family: Arial, Helvetica, sans-serif;
}
.u1-12{
 
  height: 50%;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  

}
.u1-12 h3{
   color: rgb(123, 114, 114);
}
.u1-2{

width: 50%;
display: flex;
justify-content:center ;
align-items: center;
}
.u1-2 i{
    font-size: 40px;
     color: rgb(243, 67, 99);
}
.u2{

 width: 25%;
  background-color: #fff;
  display: flex;
}
.u2-1{
    
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.u2-11{
     
     height: 50%;
     display: flex;
     justify-content:center ;
     align-items: end;
     font-size: 40px;
     font-family: Arial, Helvetica, sans-serif;
}
.u2-12{
  
  height: 50%;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.u2-12 h3{
   color: rgb(123, 114, 114);
}
.u2-2{

width: 50%;
display: flex;
justify-content:center ;
align-items: center;
}
.u2-2 i{
    font-size: 40px;
     color: rgb(243, 67, 99);
}
.u3{

 width: 25%;
  background-color: #fff;
  display: flex;
}
.u3-1{
   
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.u3-11{
  
     height: 50%;
     display: flex;
     justify-content:center ;
     align-items: end;
     font-size: 40px;
     font-family: Arial, Helvetica, sans-serif;
}
.u3-12{

  height: 50%;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.u3-12 h3{
   color: rgb(123, 114, 114);
}
.u3-2{

width: 50%;
display: flex;
justify-content:center ;
align-items: center;
}
.u3-2 i{
    font-size: 40px;
    color: rgb(243, 67, 99);
}
.u4{

 width: 25%;
  background-color: rgb(243, 67, 99);
  display: flex;
  color: #fff;
}
.u4-1{
   
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.u4-11{
      
     height: 50%;
     display: flex;
     justify-content:center ;
     align-items: end;
     font-size: 40px;
     font-family: Arial, Helvetica, sans-serif;
}
.u4-12{

  height: 50%;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.u4-2{

width: 50%;
display: flex;
justify-content:center ;
align-items: center;
}
.u4-2 i{
    font-size: 40px;
    color: #fff;
}
.lower-div{

height: 75%;
display: flex;
width: 100%;
gap: 20px;
/* padding: 10px; */

}
.left-div{

width: 60%;
display: flex;
flex-direction: column;
background-color: #fff;
padding: 20px;
gap: 10px;

}
.left-1{
    display: flex;
    height:10% ; 
    border-bottom: 1px solid rgb(234, 228, 228); 
}
.left-1 h4{
    font-size: 20px;
}
.left-start{

width: 50%;
display: flex;
align-items: center; 
  
}
.see-all-icon{

  
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: end;
   

}
.see-all{

background-color: rgb(243, 67, 99);
padding: 8px;
color: #fff;
border-radius: 10px;
font-size: 12px;
border: none;
}
.arrow-icon{
      
    background-color: rgb(243, 67, 99);
    padding: 5px;
   
   
}
.arrow-icon i{
   
    font-size: 14px;
    color: #fff;
  
}

.left-2{
display: flex;
height:10% ;
align-items: center;
justify-content: center;
border-bottom: 1px solid rgb(221, 215, 215);

}
.left2-title{

width: 33.3%;
display:flex ;
align-items: center;
justify-content: start;
}
.left2-title p{
    font-weight: 800;
}
.left2-department{

width: 33.3%;
display:flex ;
align-items: center;
justify-content: start;
}
.left2-department p{
    font-weight: 800;
}
.left2-status{

width: 33.3%;
display:flex ;
align-items: center;
justify-content: start;
}
.left2-status p{
font-weight: 800;
}
.left-3{

height: 80%;
display: flex;
overflow: scroll;
overflow-x: hidden;


}
.left-list1{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    
}
.left-list1 ul{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* justify-content: start; */
    /* align-items: center; */
    gap: 20px;
}
.left-list2{

width: 33.3%;
display: flex;


}
.left-list2 ul{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* justify-content: start; */
    /* align-items: center; */
    gap: 20px;
}
.left-list3{

width: 33.3%;
display: flex;
}
.left-list3 ul{
    
    height: 100%;
    display: flex;
    flex-direction: column;
   
    /* justify-content: start; */
    /* align-items: center; */
    gap: 20px;
    
}


.right-div{
height: 100%;
width: 40%;
display: flex;
flex-direction: column;
background-color: #fff;
padding: 20px;
}
.right1{
    
    width: 100%;
    height:10%;
    display: flex;
    border-bottom: 2px solid rgb(223, 219, 219);
}
.right1 h4{
    font-size: 20px;
}
.new-customer{
   
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.right2{

    height: 90%;
    overflow-y: scroll;
}
.r2{
    display: flex;
    height: 20%;
}
.r2-image{

    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r2-image img{
    height: 70%;
    width: 71%;
    border-radius: 50%;
    object-fit: cover;

}
.r2-name{
  
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:start ;
    justify-content:center ;
}
.r2-name .r2-head{
    font-weight: 700;
}

.r2-name .para{
    color: rgb(123, 114, 114);
}
.r2-icons{
  
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.r2-icons i{
    color: rgb(243, 67, 99);
}

.td-flex {
  display: flex;
  gap: 20px;
  align-items: center;
} .td-flex div {
  width: 10px;
  height: 10px;

  border-radius: 50%;
}
.td-1 {
  background-color: rgb(70, 10, 125);
}
.td-2 {
  background-color: rgb(154, 15, 52);
}
 .td-3 {
  background-color: rgb(224, 130, 16);
}

@media (max-width:1000px){
    .div1{
        display: none;
    }
    .div2{
        width: 100%;
    }
    .u1-11 {
        
        font-size: 26px;
       
    }
    .u1-12 h3 {
    font-size: 13px;
    }
    .u2-11 {
        
        font-size: 26px;
       
    }
    .u2-12 h3 {
    font-size: 13px;
    }
    .u3-11 {
        
        font-size: 26px;
       
    }
    .u3-12 h3 {
    font-size: 13px;
    }
    .u4-11 {
        
        font-size: 26px;
       
    }
    .u4-12 h3 {
    font-size: 13px;
    }
    .lower-div{
        overflow: scroll;
        flex-direction: column;
    }
    .left-div{
        width: 100%;
        height: 50%;
    }
    .right-div{
        height: 50%;
        width: 100%;
       padding:5px;
    
    }

    .right1{
        display: flex;
        flex-direction: row;
    }
    .r2{
        width: 100%;
        gap: 90px;
    }

    .r2-image img{
        height: 100%;
        width: 40%;
    }
    

    
}
@media (max-width:768px) {
    .u1-11 {
        
        font-size: 26px;
       
    }
    .u1-12 h3 {
    font-size: 13px;
    }
    .u2-11 {
        
        font-size: 26px;
       
    }
    .u2-12 h3 {
    font-size: 13px;
    }
    .u3-11 {
        
        font-size: 26px;
       
    }
    .u3-12 h3 {
    font-size: 13px;
    }
    .u4-11 {
        
        font-size: 26px;
       
    }
    .u4-12 h3 {
    font-size: 13px;
    }


}

@media(max-width:607px) {

    .right-div{

        font-size: 12px;
    }

    .r2 .r2-icons i{
       font-size: 18px; 
    }

}

@media (max-width:615px){
    .r2 .r2-image img{
        width: 50%;
        height: 90%;
    }
}
@media (max-width:500px){
    .r2 .r2-image{
        display: none;
    }
}

@media (max-width: 497px){
    .ic-head{

        font-size: 12px;
    }
    .ic-sub{

        font-size: 12px;
    }
    .upper-div{
        flex-wrap: wrap;
    }
    .image-div{
        display: none;
    }
    .search{
        display: none;
    }

    .upper-div .ul .u1--11 {
        font-size: 12px;
    }
    }



